/* Tailwind */
@import "tailwindcss";

/* ============================================================================================ */
/* Global style untuk scroll bar - start */
/* ============================================================================================ */
* {
    
    /* For browser chrome and safari */
    ::-webkit-scrollbar {
        display: none;
    }
    
    /* For browser internet explorer */
    -ms-overflow-style: none;
    
    /* For Firefox */
    scrollbar-width: none;
}
/* ============================================================================================ */
/* Global style untuk scroll bar - end */
/* ============================================================================================ */



/* ============================================================================================ */
/* Global style untuk markdown - start */
/* ============================================================================================ */
.wmde-markdown ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.wmde-markdown ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.wmde-markdown li {
    margin-bottom: 0.25rem;
}

.wmde-markdown li ul,
.wmde-markdown li ol {
    margin-top: 0.25rem;
}

.wmde-markdown {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.wmde-markdown pre,
.wmde-markdown code {
    background-color: rgba(0, 0, 0, 0.644) !important;
    color: #ffffff;
}
/* ============================================================================================ */
/* Global style untuk markdown - end */
/* ============================================================================================ */