/* ------------------------------------------------------ */
/* Import Tailwind                                        */
/* ------------------------------------------------------ */
@import "tailwindcss";


/* ------------------------------------------------------ */
/* Scrollbar                                              */
/* ------------------------------------------------------ */
* {
    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}