/* ------------------------------------------------------ */
/* Import Tailwind                                        */
/* ------------------------------------------------------ */
@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));


/* ------------------------------------------------------ */
/* Scrollbar                                              */
/* ------------------------------------------------------ */
* {
    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}