# ============================================================
# EXPRESS CONFIGURATION
# ============================================================
EXPRESS_PORT=3000
EXPRESS_TEST=http://localhost:3000/api

# ============================================================
# PRISMA CONFIGURATION
# ============================================================
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# ============================================================
# JWT CONFIGURATION
# ============================================================
ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret
ACCESS_TOKEN_EXPIRES_IN=1m
REFRESH_TOKEN_EXPIRES_IN=1d